<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Transaction.Properties.Settings.BSMConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BSM.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>